version: '3.4'
services:
  sls:
    image: amaysim/serverless:1.49.0
    env_file: .env
    entrypoint: serverless
    volumes:
      - ~/.aws:/root/.aws
      - .:/opt/app
  artillery:
    image: serverlesscloud/artillery
    env_file: .env
    working_dir: /artillery
    volumes:
      - ../artillery:/artillery
  aws-csharp2.1:
    image: lambci/lambda:build-dotnetcore2.1
    working_dir: /var/task/aws-csharp2.1
    volumes:
      - .:/var/task
  aws-fsharp2.1:
    image: lambci/lambda:build-dotnetcore2.1
    working_dir: /var/task/aws-fsharp2.1
    volumes:
      - .:/var/task  
  aws-go1.x:
    image: lambci/lambda:build-go1.x
    working_dir: /var/task/aws-go1.x
    volumes:
      - .:/var/task  
  aws-nodejs6.10:
    image: lambci/lambda:build-nodejs6.10
    working_dir: /var/task/aws-nodejs6.10
    volumes:
      - .:/var/task
  aws-nodejs8.10:
    image: lambci/lambda:build-nodejs8.10
    working_dir: /var/task/aws-nodejs8.10
    volumes:
      - .:/var/task
  aws-nodejs10.x:
    image: lambci/lambda:build-nodejs10.x
    working_dir: /var/task/aws-nodejs10.x
    volumes:
      - .:/var/task
  aws-java8:
    image: lambci/lambda:build-java8
    working_dir: /var/task/aws-java8
    volumes:
      - .:/var/task
      - ~/.m2:/root/.m2
  aws-python2.7:
    image: lambci/lambda:build-python2.7
    working_dir: /var/task/aws-python2.7
    volumes:
      - .:/var/task  
  aws-python3.6:
    image: lambci/lambda:build-python3.6
    working_dir: /var/task/aws-python3.6
    volumes:
      - .:/var/task
  aws-ruby2.5:
    image: lambci/lambda:build-ruby2.5
    working_dir: /var/task/aws-ruby2.5
    volumes:
      - .:/var/task 