service: aws-ruby-2-5

provider:
  name: aws
  runtime: ruby2.5

package:
  exclude:
    - ./**
  include:
    - ./handler.rb

functions:
  hello:
    handler: handler.hello
    events:
      - http:
          path: /
          method: get
