service: aws-go1-x

provider:
  name: aws
  runtime: go1.x

package:
  exclude:
    - ./**
  include:
    - ./bin/main

functions:
  hello:
    handler: bin/main
    events:
      - http:
          path: /
          method: get

